terratowns_endpoint = "https://terratowns.cloud/api"

metalgear = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/metalgear"
    content_version = 2
}
tng = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/tng"
    content_version = 1
}



